.friends{
    float: right;
    margin-right: 15px;
}
.friends .avatar{
    padding-bottom: 30px;
    position: relative;
}
.friends .avatar img{
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
.friends .avatar span{
    position: absolute;
    bottom: 10px;
    left: 3px;
}